/*
struct
1 .Positioning
2 .Box model
3. Typography
4. Visual theme styles
5. Miscellaneous or other
*/
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey-text: #808080;
    --Dm-sans: "DM Sans", sans-serif;
    --Inter: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--Dm-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;/*aling items with flex*/
    margin-bottom: 33px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 278px;
    text-align: center;
    align-self: center;
}

.header__title-container .header__button {
    position: absolute;/*allows to move on top right left and button*/
    left: calc(50% - 114px);/*45.5px;*/
    top: 270px;
    display: block;
    margin-top: 32px;
    padding: 12px;
    width: 229px;
    height: 48px;
    background-color:var(--off-white); 
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    /*Shades*/
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16); 
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-repeat: no-repeat;
}

.header__title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;/*height dimension*/
}

.header__title-container p {
    color: var(--soft-orange);
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin-top: 24px;
}

main {
    width: 100%;
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__exchange-container--title h2 {
    min-width: 288px;
    height: 52px;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    font-size: 2.4rem;
    color: var(--black);
}

.main__exchange-container--title p {
    min-width: 288px;
    height: 52px;
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #757575;
    margin-bottom: 48px;
}

.main__currency-table {
    width:  70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--Inter);
}

.main__currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-right: 40%;
    color: var(--bitcoin-orange);
}

.currency-table__container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table__container table {
    width: 100%;
    height: 100%;
}

.currency-table__container td {
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table__container .table--top-left {
    border-radius: 15px 0 0 0;
}

.currency-table__container .table--top-right {
    border-radius: 0 15px 0 0;
}

.currency-table__container .table--botton-left {
    border-radius: 0 0 0 15px;
}

.currency-table__container .table--botton-right {
    border-radius: 0 0 15px 0;
}

.currency-table__container .table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency-table__container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.currency-table__container .currency-table-date {
    min-width: 173px;
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
    background-color: var(--soft-orange);
}

.Second__currency-table {
    width:  70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--Inter);
}

.Second__currency-table--title {
    font-family: var(--Dm-sans);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-right: 40%;
    margin-top: 28px;
    color: var(--secondary-blue);
}

.Second-table__container {
    margin-top: 23px;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.Second-table__container table {
    width: 100%;
    height: 100%;
}

.Second-table__container td {
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.Second-table__container .stable--top-left {
    border-radius: 15px 0 0 0;
}

.Second-table__container .stable--top-right {
    border-radius: 0 15px 0 0;
}

.Second-table__container .stable--botton-left {
    border-radius: 0 0 0 15px;
}

.Second-table__container .stable--botton-rigth {
    border-radius: 0 0 15px 0;
}

.Second-table__container .stable--right {
    font-family: var(--Inter);
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.Second-table-date {
    min-width: 173px;
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
    background-color: var(--soft-blue);
}

.main__product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    font-family: var(--Dm-sans);
    background-color: var(--black);
}

.product-detail--bata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("../assets/icons/batata.svg");
}

.product-detail--title {
    width: 90%;
    margin-top: 64px;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}

.product-detail--title h2 {
    font-size: 2.4rem;
    margin-bottom: 24px;
    font-weight: bold;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-text);
}

.product-card__container {
    width: 90%;
    min-width: 288px;
    height: auto;
}

.product__card {
    width: 90%;
    margin-top: 24px;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.product-card__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock {
    background-image: url('../assets/icons/clock.svg');
}

.eye {
    background-image: url('../assets/icons/eye.svg');    
}

.dolar {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.check {
    background-image: url('../assets/icons/check-circle.svg');
}

.product-card--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: var(--just-white);
}

.product-card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-text);
}
