/*
struct
1 .Positioning
2 .Box model
3. Typography
4. Visual theme styles
5. Miscellaneous or other
*/
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey-text: #808080;
    --Dm-sans: "DM Sans", sans-serif;
    --Inter: "Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: var(--Dm-sans);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 60px;
    align-self: center;/*aling items with flex*/
    margin-bottom: 33px;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 278px;
    text-align: center;
    align-self: center;
}

.header__title-container .header__title--button {
    position: absolute;/*allows to move on top right left and button*/
    left: calc(50% - 114px);/*45.5px;*/
    top: 270px;
    display: block;
    margin-top: 32px;
    padding: 12px;
    width: 229px;
    height: 48px;
    background-color:var(--off-white); 
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
    /*Shades*/
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16); 
}

.header__title--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-repeat: no-repeat;
}

.header__title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;/*height dimension*/
}

.header__title-container p {
    color: var(--soft-orange);
    font-weight: 500;
    line-height: 1.8rem;
    font-size: 1.4rem;
    margin-top: 24px;
}

main {
    width: 100%;
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange {
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.main__exchange--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main__exchange--backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__exchange--title h2 {
    min-width: 288px;
    height: 52px;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    font-size: 2.4rem;
    color: var(--black);
}

.main__exchange--title p {
    min-width: 288px;
    height: 52px;
    margin-top: 24px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    text-align: center;
    color: #757575;
    margin-bottom: 48px;
}

.main__exchange-table {
    width:  70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--Inter);
}

.main__exchange-table .main__exchange-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-right: 40%;
    color: var(--bitcoin-orange);
}

.main__exchange-table--table{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.main__exchange-table--table table {
    width: 100%;
    height: 100%;
}

.main__exchange-table--table td {
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.main__exchange-table--table .main__exchange-table--top-left {
    border-radius: 15px 0 0 0;
}

.main__exchange-table--table .main__exchange-table--top-right {
    border-radius: 0 15px 0 0;
}

.main__exchange-table--table .main__exchange-table--botton-left {
    border-radius: 0 0 0 15px;
}

.main__exchange-table--table .main__exchange-table--botton-right {
    border-radius: 0 0 15px 0;
}

.main__exchange-table--table .main__exchange-table--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.main__exchange-table--table .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__exchange-table--table .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main__exchange-table--table .main__exchange-table--date {
    min-width: 173px;
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
    background-color: var(--soft-orange);
}

.main__exchange-table2 {
    width:  70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: var(--Inter);
}

.main__exchange-table2--title {
    font-family: var(--Dm-sans);
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-right: 40%;
    margin-top: 28px;
    color: var(--secondary-blue);
}

.main__exchange-table2--table {
    margin-top: 23px;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.main__exchange-table2--table table {
    width: 100%;
    height: 100%;
}

.main__exchange-table2--table td {
    width: 50%;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.main__exchange-table2--table .main__exchange-table2--top-left {
    border-radius: 15px 0 0 0;
}

.main__exchange-table2--table .main__exchange-table2--top-right {
    border-radius: 0 15px 0 0;
}

.main__exchange-table2--table .main__exchange-table2--botton-left {
    border-radius: 0 0 0 15px;
}

.main__exchange-table2--table .stable--botton-rigth {
    border-radius: 0 0 15px 0;
}

.main__exchange-table2--table .main__exchange-table2--right {
    font-family: var(--Inter);
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.main__exchange-table2--date {
    min-width: 173px;
    text-align: center;
    font-size: 12px;
    margin-top: 24px;
    background-color: var(--soft-blue);
}

.main__product {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    font-family: var(--Dm-sans);
    background-color: var(--black);
}

.main__product--bata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("../assets/icons/batata.svg");
}

.main__product--title {
    width: 90%;
    margin-top: 64px;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 64px;
    text-align: center;
}

.main__product--title h2 {
    font-size: 2.4rem;
    margin-bottom: 24px;
    font-weight: bold;
    color: var(--just-white);
}

.main__product--title p {
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-text);
}

.main__product-card {
    width: 90%;
    min-width: 288px;
    height: auto;
}

.main__product-card--card {
    width: 90%;
    margin-top: 24px;
    min-width: 288px;
    max-width: 400px;
    height: 152px;
    padding: 15px;
    background-color: #282623;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.main__product-card--icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock {
    background-image: url('../assets/icons/clock.svg');
}

.eye {
    background-image: url('../assets/icons/eye.svg');    
}

.dolar {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.check {
    background-image: url('../assets/icons/check-circle.svg');
}

.product-card--title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin-bottom: 10px;
    color: var(--just-white);
}

.product-card--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--grey-text);
}

.main__img {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('../assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main__img h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main__plans {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}

.main__plans--title {
    width: 95%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.main__plans--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin-bottom: 24px;
    color: var(--warm-black);
}

.main__plans--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 35px;
    color: #757575;
}

.main__plans-block {
    position: relative;
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 50px auto 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(89, 73, 30, 0.16);
}

.main__plans-block--ticket {
    position: absolute;
    width: 120px;
    height: 31px;
    left: calc(50% - 50px);
    top: -15px;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-family: var(--Inter);
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
}

.main__plans-info--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black; 
}

.main__plans-info--price {
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}

.main__plans-info--price span {
    font-size: 1.2rem;
    font-weight: 300;
    vertical-align: text-top;
}

.main__plans-info--saving {
    font-size: 1.2rem;
    font-family: var(--Inter);
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 16px;
    color: #757575;
}

.main__plans-info--button {
    width: 151px;
    height: 48px;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    cursor: pointer;
    font-family: var(--Dm-sans);
    color: black;
    background-color: var(#faf8f7);
    border: 2px solid var(--bitcoin-orange);
}

.main__plans-info--button::after {
    max-width: 20px;
    max-height: 20px;
    vertical-align: text-bottom;
    display: inline-block;
    content: url('../assets/icons/orange-right-arrow.svg');
}